<head>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="./contact.component.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
  </head>
  <div class="row">
    <div class="card">
      <img src="/assets/images/facebook.png" class="section media" id="facebook"/>
      <div class="section"><a href="https://www.facebook.com/cameron.fischl"><button class="tertiary"><h3>Facebook</h3></button></a></div>
    </div>
    <div class="card">
      <img src="/assets/images/instagram.png" class="section media" id="instagram"/>
      <div class="section"><a href="https://www.instagram.com/gran.pez/"><button class="tertiary"><h3>Instagram</h3></button></a></div>
    </div>
    <div class="card">
      <img src="/assets/images/twitter.png" class="section media" id="twitter"/>
      <div class="section"><a href="https://twitter.com/CameronFischl"><button class="tertiary"><h3>Twitter</h3></button></a></div>
    </div>
    <div class="card">
      <img src="assets/images/linkedin.png" class="section media" id="linkedin"/>
      <div class="section"><a href="https://www.linkedin.com/in/cameron-fischl-877059b9/"><button class="tertiary"><h3>LinkedIn</h3></button></a></div>
    </div>
  </div>
