<head>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="./hobbies.component.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
  </head>
<div class="row">
  <div class="polaroid rotate_left">
    <img src="assets/images/glasses.jpg">
  </div>
  <div class="polaroid rotate_right">
    <img src="assets/images/image6.jpg">
  </div>
  <div class="polaroid rotate_left">
    <img src="assets/images/eagle.jpg">
  </div>
</div>
<br><br><br>
<div class="row">
  <h2>Some of my hobbies include:</h2>
</div>
<div class="row">
  <ul>
    <li>Boxing</li>
    <li>Lifting weights</li>
    <li>Shooting</li>
    <li>Collecting rocks, minerals & gems</li>
    <li>Skiing</li>
    <li>Playing with kittens</li>
  </ul>
  <br><br>
</div>
<br><br>
