<head>
  <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
  <link rel="stylesheet" href="./education.component.css">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap" rel="stylesheet">
</head>
<br>
    <div class="row">
      <div class="col-sm-6"><h1><br>Queen's University -<br>B.Sc. Geological Sciences (Honours) -<br>2014-2018</h1><br><a href="https//www.queensu.ca"><img src="/assets/images/queensCrest.png" width=150 height=188></a></div>  <div class="col-sm-4"><div class="polaroid rotate_right"><img src="assets/images/sutton.png"></div></div>
    </div>
    <br>
  <div class="row">
    <div class="col-sm-2"><div class="polaroid rotate_left"><img src="assets/images/image2.jpg"></div></div> <div class="col-sm-7"><h1>Earl of March Secondary School -<br>2010-2014</h1><br><a href="https//earlofmarchss.ocdsb.ca"><img src="/assets/images/earlCrest2.png" width=150 height=250></a></div>
  </div>
  <br><br><br>
<blockquote cite="Queen's University motto">Sapientia et Doctrina Stabilitas <i>(Wisdom and Knowledge Shall be the Stability of Our Times)</i></blockquote>
<br><br>