<head>
  <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
  <link rel="stylesheet" href="./app.component.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap" rel="stylesheet">
</head>

<header>
  <h1>Cameron Fischl, B.Sc.</h1>
</header>
<header>
  <a href="/index" class="button">Home</a>
  <a href="/hobbies" class="button">Hobbies</a>
  <a href="/work" class="button">Work</a>
  <a href="/education" class="button">Education</a>
  <a href="/contact" class="button">Contact</a>
</header>

<router-outlet></router-outlet>

<footer>
  <h6>Carson Fischl Designs, 2020</h6>
</footer>