<head>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="./work.component.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
  </head>

  <h1>An environmental, geotechnical scientist with experience working all over Ontario and Quebec.
      <br><br>
      <div class="row">
        <div class="polaroid rotate_left">
        <img src="assets/images/fishing.png">
        </div>
        <div class="polaroid rotate_right">
        <img src="assets/images/pearson.jpeg">
        </div>
        <div class="polaroid rotate_left">
        <img src="assets/images/river.jpg">
        </div>
    </div>
      <br><br>
      Graduate of Queen's University in Kingston, Ontario with B.Sc. (Honours) in Geological Sciences.
  </h1>
  <div class="row">
    <h2>Experienced in:</h2>
  </div>
  <div class="row">
    <ul>
        <li>Designated Substances Surveys & IAQ testing</li>
      <li>Environmental & geotechnical drilling</li>
      <li>Groundwater, surface water & soil sampling</li>
      <li>Concrete & compaction testing</li>
    </ul>
</div>
  <div class="row">
    <h2>Certified:</h2>
  </div>
  <div class="row">
    <ul>
        <li>CCIL concrete technician</li>
    </ul>
</div>
<br>
<br>
